#result {
  margin-top: 20px;
  display: none;
  font-weight: bold;
  font-size: 30pt;
  font-style: italic;
  text-align: center;
}

body {
  font-family: "Alegreya";
  font-size: 20pt;
  background-image: url("../img/caesar.jpg");
  backgroud-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 0.80;
}

label {
  color: white;
}
